ion-toolbar{
  --background: white; // url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;
  color: black;
  .btn{
    position: auto;
    float: right;
  }
}
ion-content{
  --background:white; //url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;

}
ion-list-header{
  text-align: center;
  ion-title{
  font-size: x-large;
  }
}