ion-toolbar{
  --background:url(../../../assets/18646.jpg) 0 0/100% 100% no-repeat;
  color: black;
  .btn{
    position: auto;
    float: right;
  }
}
ion-content{
  --background:url(../../../assets/18646.jpg) 0 0/100% 100% no-repeat;

}