<div *ngIf="Uauth.authenticated; else login">
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="background">
  
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label class="tab">Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="questions">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label class="tab">Check In</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/chat" routerDirection="root">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label class="tab">Chat</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label class="tab">Settings</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</div>

<ng-template #login>
  <ion-content>
    <div class="appName">
      <img [src]="ln.logo"/>
      <ion-title style="font-size: 30px;">Health Journal</ion-title>
    </div>
  <ion-grid class="over">
    <ion-card-content>
      <ion-input class="input" placeholder="  Email" type="text" [(ngModel)]="ln.email"></ion-input>
      <br>
      <ion-input class="input" placeholder="  Password" type="password" [(ngModel)]="ln.password"></ion-input>
      <br><ion-button expand="block" style="background-color: royalblue;" (click)="ln.login()">Log In</ion-button>
    </ion-card-content>
    <ion-label routerLink='/register' routerDirection='root'>Create a new account
    </ion-label><br><br>
    <ion-buttons>
      <ion-button fill="solid" color="danger" (click)="gp.googleLogin()">Google Plus
        <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-grid>
</ion-content>
</ng-template>
