<div *ngIf="Uauth.authenticated; else login">
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="background">
  
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="questions">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Survey</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/nick-name" routerDirection="root">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</div>

<ng-template #login>
  <ion-content>
  <div class="over">
    <ion-grid style="max-width: 465px;">
      <div class="card">
        <ion-row>
          <ion-col>
              <ion-grid style="max-width: 465px;">
                <div class="button-action">
                  <ion-button class="signin-text" size="large" color="#e9905c">
                    <b>Log in</b>
                  </ion-button>
                  <ion-button class="signup-text" size="small" color="#dff19c" routerLink="/register" routerDirection="root">
                    <b>Registration</b>
                  </ion-button>
                </div>
  
                <div class="ion-padding">
                  <ion-input placeholder="  Email" type="text" [(ngModel)]="ln.email"></ion-input> <br>
                  <ion-input placeholder="  Password" type="password" [(ngModel)]="ln.password"></ion-input>
                </div>
                <ion-button class="actionbutton" expand="block" color="#20438d" style="max-width: 465px;" (click)="ln.login()">Log In</ion-button>
              </ion-grid>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
</ng-template>
