ion-toolbar{
  --background:url('../../../assets/69.jpg') 0 0/100% 100% no-repeat;
  color:black;
}
ion-content{
  --background:url('../../../assets/3699427.jpg') 0 0/100% 100% no-repeat;
  }
p{
  color: black;
}
ion-label{
  color: black;
}
.btn {
    position: auto;
    float: right;
  }

.raitng {
    position: relative;
    margin-left: 2em;
    margin-top: 2em;
}
.input {
  fill: outline;
  border-color: black;
  margin-left: 2em;
}
.submit{
  margin-left: 3em;
}