ion-toolbar{
  --background: white; // url('../../../assets/background.jpg') 0 0/100% 100% no-repeat;
  color:black;
}
ion-content{
  --background: white; // url('../../../assets/background.jpg') 0 0/100% 100% no-repeat;
  }
ion-card{
  background-color: rgb(212, 212, 212);
  max-width: 80%;
  margin-left: 10%;
  ion-card-content{
    height: 33em;
    overflow:scroll;
    resize:none; 
    position:relative;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }
}
ion-card-subtitle{
  margin-right: 10%;
  float: right;
}
p{
  color: black;
}
ion-label{
  color: black;
}
.btn {
    position: auto;
    float: right;
  }

.raitng {
    position: relative;
    margin-left: 2em;
    margin-top: 2em;
}
.input {
  fill: outline;
  border-color: black;
  margin-left: 2em;
}
.submit{
  margin-left: 10%;
}
.food{
  color: rgb(153, 255, 0);
}
.exercise{
  color: rgb(208, 158, 255);
}
.entertaintments{
  color: rgb(255, 124, 124);
}
.visits{
  color: rgb(250, 172, 70);
}
.events{
  color: rgb(42, 187, 255);
}
.others{
  color: rgb(124, 255, 200);
}
