<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824446404669-lubsbrpagahmtvaek565apgnrtkhblvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824446404669-lubsbrpagahmtvaek565apgnrtkhblvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDN0w5t1dlS7kwalKVN4UxxlPqv5xPUmxo</string>
	<key>GCM_SENDER_ID</key>
	<string>824446404669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthjournal</string>
	<key>PROJECT_ID</key>
	<string>healthcare-cda23</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-cda23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824446404669:ios:794f01d64b17cf3e3b4254</string>
	<key>DATABASE_URL</key>
	<string>https://healthcare-cda23.firebaseio.com</string>
</dict>
</plist>