<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Setup Nickname</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="enterNickname()">
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="data.nickName" name="nickName" required="">Enter Your Nickname: </ion-input>
      </ion-item>
        <!--<ion-label floating>your Nickname: {{data.nickName}}</ion-label>-->
        <ion-button color="primary" type="submit">Enter</ion-button>
    </ion-list>
  </form>
</ion-content>
