ion-toolbar{
    --background:url('../../../../assets/background.jpg') ;
}
ion-content{
    --background:url('../../../../assets/background.jpg') ;  
}
ion-list{
    background-color: transparent;
}
ion-item{
    --background: transparent;
}