ion-toolbar{
    --background:url('../../../../assets/background.jpg') ;
}
ion-content{
    --background:url('../../../../assets/background.jpg') ;
}
ion-list{
    background-color: rgba(0, 0, 255, 0);
}
ion-item{
    --background: rgba(0, 0, 255, 0);
}