ion-content{
  --background:url('../../../assets/red_wall.jpg') 0 0/100% 100% no-repeat;
  }
ion-toolbar{
  --background:url('../../../assets/359874.jpg') 0 0/100% 100% no-repeat;
  color:goldenrod;
}
  p{
    color:white;
  }
  ion-label{
    color:white;
  }
  ion-button{
    size:20px;
    tab-size: 16px;
  }
  .pic{
    width: 25px;
    height: 25px;
  }
  .header {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  .btn {
    position: auto;
    float: right;
    size: small;
  }
  .questions {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
  }
  .rating {
    display: grid;
    align-items: center;
    margin-left: 4em;
  }
  .verify-email{
    display: grid;
      align-items: center;
      justify-content: center;
      margin-top: 5em;
  }