<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="help-circle"></ion-icon>
      Wellbeing Questions.....
      <ion-icon class="btn" name="arrow-forward-circle" (click)="nextbtn()" size="large"></ion-icon>
  </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title style="color: white;">
      <u>Symptoms</u>
    </ion-title>
  </div>

  <div>
    <ion-grid class="questions">
      <div>
        <p>Do you have Pain today?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="painChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="painChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="painChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="painChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="painChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>
        <p>Do you have Shortness of Breath?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
        <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="breathChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="breathChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="breathChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="breathChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="breathChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>
        <p>Do you Sweat you Legs?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="legsChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="legsChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="legsChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="legsChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="legsChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>
        <p>Do you have Cough?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="coughChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="coughChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="coughChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="coughChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="coughChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>       
        <p>Do you feel Hoarseness?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="hoarsenessChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="hoarsenessChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="hoarsenessChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="hoarsenessChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="hoarsenessChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>
        <p>Do you feel Fatigue?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="fatiqueChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="fatiqueChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="fatiqueChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="fatiqueChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="fatiqueChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
      </div>

      <div>
        <p>Do you have Unexplained loss of Appetite/Weight?</p>
      </div>
      <div class ="btn">
        <ion-row row-1>
          <ion-label>Low</ion-label>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="happy" (click)="weightChange(1)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="smile" (click)="weightChange(2)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="normal" (click)="weightChange(3)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="sad" (click)="weightChange(4)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-img class="pic" [src]="cry" (click)="weightChange(5)"></ion-img>&nbsp;&nbsp;&nbsp;
          <ion-label>High</ion-label>
        </ion-row>
        </div>
      </ion-grid>
  </div>
</ion-content>