  ion-content.background{
    --background:url('../../../assets/3230849.jpg') 0 0/100% 100% no-repeat;
  }
  .head{
    --background:url('../../../assets/11.jpg') 0 0/100% 100% no-repeat;
    color:black;
  }
  p{
    color: black;
    text-align: center;
  }
  ion-label{
    color: black;
    text-align: center;
  }
  .pic{
    width: 30px;
    height: 30px;
  }
  .raitng {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
  }
  .btn {
    display: grid;
    align-items: center;
    justify-content: center;
    size: x-large;
  }
.verify-email{
  display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}