<ion-header>
  <ion-toolbar class="head">
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Your today  .....
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-header *ngIf="!verifiedEmail" [translucent]="true">
  <ion-toolbar color="danger" class="verify-email" 
	style="color:azure; max-height: 70px; text-align: center;">
  <ion-label>Please verify your email account</ion-label><br>
  <ion-button (click)="refresh()">Refresh</ion-button>
  </ion-toolbar>
</ion-header>-->


<ion-content class="background" [fullscreen]="true">
  <div *ngIf= "(info |async)?.patient === 'cancer'">
    <p>This is for Cancer Patient</p>
  </div>
  <div *ngIf= "(info |async)?.patient === 'cardiovascular'">
    <p>This is for Cardiovascular Patient</p>
  </div>
  <div class="raitng">
    <ion-label>
      How are you today?
    </ion-label> <br>
    <div class ="btn">
      <ion-button fill="clear" shape="circle" (click)="submit(1)">
        <ion-img class="pic" [src]="happy"></ion-img>
      </ion-button>
      <ion-label size="4">Very Good</ion-label><br>
      <ion-button fill="clear" shape="circle" (click)="submit(2)">
        <ion-img class="pic" [src]="smile"></ion-img>
      </ion-button>
      <ion-label>Good</ion-label><br>
      <ion-button fill="clear" shape="circle" (click)="submit(3)">
        <ion-img class="pic" [src]="normal"></ion-img>
      </ion-button>
      <ion-label>Nutral</ion-label><br>
      <ion-button fill="clear" shape="circle" (click)="submit(4)">
        <ion-img class="pic" [src]="sad"></ion-img>
      </ion-button>
      <ion-label>Bad</ion-label><br>
      <ion-button fill="clear" shape="circle" (click)="submit(5)">
        <ion-img class="pic" [src]="cry"></ion-img>
      </ion-button>
      <ion-label>Very Bad</ion-label>
    </div>
  </div>
</ion-content>