<ion-header>
  <ion-toolbar class="head">
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Check In
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-header *ngIf="!verifiedEmail" [translucent]="true">
  <ion-toolbar color="danger" class="verify-email" 
	style="color:azure; max-height: 70px; text-align: center;">
  <ion-label>Please verify your email account</ion-label><br>
  <ion-button (click)="refresh()">Refresh</ion-button>
  </ion-toolbar>
</ion-header>-->


<ion-content class="background" [fullscreen]="true">
  <div class="raitng">
    <ion-title *ngIf="Profile" style="text-align: center;">
      Welcome {{(Profile |async)?.fullName}}
    </ion-title>
    <ion-title>
      How are you today?
    </ion-title> <br><br><br>
    <ion-row row-1 class ="btn">
      <ion-buttons>
        <ion-button fill="clear" shape="circle" (click)="submit(0)" [disabled]="feelDisable">
          <ion-img class="pic" [src]="happy"></ion-img>
        </ion-button>&nbsp;&nbsp;Very Good
      </ion-buttons><br>
      <ion-buttons>
        <ion-button fill="clear" shape="circle" (click)="submit(1)" [disabled]="feelDisable">
          <ion-img class="pic" [src]="smile"></ion-img>
        </ion-button>&nbsp;&nbsp;Good
      </ion-buttons><br>
      <ion-buttons>
        <ion-button fill="clear" shape="circle" (click)="submit(2)" [disabled]="feelDisable">
          <ion-img class="pic" [src]="normal"></ion-img>
        </ion-button>&nbsp;&nbsp;Neutral
      </ion-buttons><br>
      <ion-buttons>
        <ion-button fill="clear" shape="circle" (click)="submit(3)" [disabled]="feelDisable">
          <ion-img class="pic" [src]="sad"></ion-img>
        </ion-button>&nbsp;&nbsp;Bad
      </ion-buttons><br>
      <ion-buttons>
        <ion-button fill="clear" shape="circle" (click)="submit(4)" [disabled]="feelDisable">
          <ion-img class="pic" [src]="cry"></ion-img>
        </ion-button>&nbsp;&nbsp;Very Bad
      </ion-buttons>
    </ion-row >
  </div>
</ion-content>