<ion-content class="background">
  <div class="content">
    <ion-grid style="max-width: 465px;">
    <div class="button-action">
      <ion-button class="signin-text" fill="clear" size="small" routerLink="/tabs" routerDirection="root">
        <b><p>Log in</p></b>
      </ion-button>
      <ion-button class="signup-text" fill="clear" size="small">
        <b><p>Registration</p></b>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input> <br>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input> <br>
      <ion-input placeholder="Re-Password" type="password" [(ngModel)]="repassword"></ion-input>
    </div>
    <ion-button class="actionbutton" expand="full" color="#20438d" (click)="register()" routerLink="/tabs">Registration</ion-button>
    <ion-button fill="clear" style="font-size:10px; padding-bottom:20px;
    color:lavender;margin-left:10px; text-transform:none; color:#ffbf6c;" routerLink="/tabs" routerDirection="root">
    Already have an account?</ion-button>
  </ion-grid>
  </div>
  </ion-content>